{% from "common/_macros.html" import sign_up %}
{% extends "common/_layout.html" %}
{% block title %}Jembe Web Framework{% endblock title %}

{% block description %}A full-stack python web framework for rapid development of modern web apps by one-person team, comming soon. Jembe uses server rendering, html-over-wire and configurable web components to enable rapid developing.{% endblock description %}


{% block content %}
    <!-- Hero section -->
    <div class="relative overflow-hidden bg-gray-50">

        <div class="relative pt-6 pb-16 sm:pb-24">
            <div class="px-4 mx-auto max-w-7xl sm:px-6">
                <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
                    <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                        <div class="flex items-center justify-between w-full md:w-auto">
                            <a href="#">
                                <span class="sr-only">Jembe</span>
                                <img class="w-auto h-10 sm:h-12" src="img/logo-jembe-full.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
                        <span class="inline-flex rounded-md shadow">
                            <a href="#newsletter-headline"
                                class="inline-flex items-center px-4 py-2 text-base font-medium text-white border border-transparent rounded-md bg-lime-600 hover:bg-lime-700">
                                Notify me when launches
                            </a>
                        </span>
                    </div>
                </nav>
            </div>

            <main class="px-4 mx-auto mt-16 max-w-7xl sm:mt-24">
                <div class="text-center">
                    <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
                        <span
                            class="block text-xs font-semibold tracking-wide text-gray-500 uppercase sm:text-base lg:text-xs xl:text-sm">Coming
                            soon</span>
                        <span class="block">Rapidly build modern web apps</span>
                        <span class="block text-lime-600">all by yourself</span>
                    </h1>
                    <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                        with truly reusable web components 
                    </p>
                </div>
            </main>
        </div>
    </div>

    <div class="py-12 bg-white">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="mt-10">
                <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div class="flex items-center justify-center w-12 h-12 text-white rounded-full bg-lime-500">
                                <!-- Heroicon name: gear -->
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <dt class="text-lg font-medium leading-6 text-gray-900">
                                What is Jembe?
                            </dt>
                            <dd class="mt-2 text-base prose-sm prose text-gray-500">
                                <p>Python web framework for developing modern web apps, build
                                    on top of Flask, designed for:</p>
                                <ul>
                                    <li>Easy creation of truly reusable web components;</li>
                                    <li>Rapid development using components, actions and events;</li>
                                    <li>Development without need to write JavaScript code;</li>
                                    <li>Server-side HTML rendering for updating client UI.</li>
                                </ul>
                            </dd>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex-shrink-0">
                            <div class="flex items-center justify-center w-12 h-12 text-white rounded-full bg-lime-500">
                                <!-- Heroicon name: globe-alt -->
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                </svg>
                            </div>
                        </div>
                        <div class="ml-4">
                            <dt class="text-lg font-medium leading-6 text-gray-900">
                                Is Jembe for You?
                            </dt>
                            <dd class="mt-2 text-base prose-sm prose text-gray-500 ">
                                <p>Yes, if You're:</p>
                                <ul>
                                    <li>Building web apps all by yourself or in very small teams;</li>
                                    <li>Coding “same logic” between "similar pages" in backend and frontend;</li>
                                    <li>Already coding or don't mind coding in Python?</li>
                                </ul>
                            </dd>
                        </div>
                    </div>


                </dl>
            </div>
        </div>
    </div>


    <!-- Content section -->
    <div class="relative py-16 overflow-hidden bg-white">
        <div class="relative px-4 sm:px-6 lg:px-8">
            {# <div class="mx-auto mt-6 prose prose-lg text-gray-500 max-w-7xl prose-lime sm:px-6 lg:px-8"> #}
                <h2 class="hidden">Jembe Code Examples</h2>
            {# </div> #}

            <div class="mx-auto mt-6 max-w-7xl sm:px-6 lg:px-8">
                {% include "common/list_projects_example.html" %}
            </div>
            <div class="mx-auto mt-24 max-w-7xl sm:px-6 lg:px-8">
                {% include "common/list_projects_paginated_example.html" %}
            </div>
            <div class="mx-auto mt-24 max-w-7xl sm:px-6 lg:px-8">
                {% include "common/list_projects_editable_example.html" %}
            </div>
            <div class="mx-auto mt-24 max-w-7xl sm:px-6 lg:px-8">
                {% include "common/demo_reusable_example.html" %}
            </div>
            <div class="mx-auto mt-6 prose prose-lg text-gray-500 prose-lime">
                <h2>How does Jembe works?</h2>
                <ul>
                    <li>On initial request Jembe renders the whole page, composed of one or multiple components;</li>
                    <li>When user interacts with any component, information of current state of all components and user
                        interactions are send back to server via AJAX request;</li>
                    <li>Server executes actions associated with user interactions and re-renders only components that
                        have been changed;</li>
                    <li>Browser receives HTML and mutates DOM according to changes in re-rendered components.</li>
                </ul>
            </div>
        </div>
    </div>

    {{sign_up()}}

    {# <div class="bg-gray-50">
        <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                <span class="block text-lime-600">Still unsure is the Jembe worth your time?</span>
                <span class="block text-gray-900">View more examples.</span>
            </h2>
            <div class="mt-8 lex lg:mt-0 lg:flex-shrink-0">
                <div class="inline-flex ml-3 rounded-md shadow">
                    <a href="examples.html"
                        class="inline-flex items-center justify-center px-5 py-3 text-xl font-medium bg-white border border-transparent rounded-md text-lime-600 hover:bg-lime-50">
                        Show me more examples
                    </a>
                </div>
            </div>
        </div>
    </div> #}
{% endblock content %}