<div x-data="{ 
        activeTab:'{{tabs[0].name}}', 
        codeTabs:[{%for tab in tabs  %}{%if tab.type =='html' or tab.type=='py'%}'{{tab.name}}',{%endif%}{%endfor%}]
    }" class="overflow-hidden divide-y divide-gray-200 rounded-lg shadow bg-gray-50">
    <div class="py5 ">
        {#
        <!-- Content goes here -->
        <!-- We use less vertical padding on card headers on desktop than on body sections --> #}
        <div>
            <div class="sm:hidden">
                <label for="tabs" class="sr-only">Select a tab</label>
                <select id="tabs" name="tabs" x-on:change="activeTab=$event.target.value"
                    class="block w-full border-gray-300 rounded-md focus:ring-lime-500 focus:border-lime-500 bg-gray-50">
                    {% for tab in tabs %}
                    <option x-bind:selected="activeTab=='{{tab.name}}'" value="{{tab.name}}">{{tab.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="hidden sm:block">
                <div class="px-4 border-b border-gray-200 sm:px-6 ">
                    <nav class="flex flex-wrap -mb-px space-x-8" aria-label="Tabs">
                        {% for tab in tabs %}
                        <a href="#" x-on:click.prevent.stop="activeTab='{{tab.name}}'" x-bind:class='{
                                "inline-flex items-center px-1 py-4 text-sm font-medium text-gray-500 border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300 group": activeTab !== "{{tab.name}}", 
                                "inline-flex items-center px-1 py-4 text-sm font-medium border-b-2 text-lime-600 border-lime-500 group": activeTab === "{{tab.name}}"
                                }'>
                            {% if tab.type == "app"  %}
                                <svg x-bind:class='{
                                "text-lime-500  -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" === activeTab,
                                "text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" !== activeTab
                                }' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill="currentColor"
                                        d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110A188.72 188.72 0 00320 74.9V25.8c0-5.6-3.9-10.5-9.4-11.7a251.4 251.4 0 00-109.2 0c-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3a247.56 247.56 0 00-54.7 94.6c-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z" />
                                </svg>
                            {% elif tab.type == "py" %}
                                <svg x-bind:class='{
                                "text-lime-500  -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" === activeTab,
                                "text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" !== activeTab
                                }' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill="currentColor"
                                        d="M439.8 200.5c-7.7-30.9-22.3-54.2-53.4-54.2h-40.1v47.4c0 36.8-31.2 67.8-66.8 67.8H172.7c-29.2 0-53.4 25-53.4 54.3v101.8c0 29 25.2 46 53.4 54.3 33.8 9.9 66.3 11.7 106.8 0 26.9-7.8 53.4-23.5 53.4-54.3v-40.7H226.2v-13.6h160.2c31.1 0 42.6-21.7 53.4-54.2 11.2-33.5 10.7-65.7 0-108.6zM286.2 404c11.1 0 20.1 9.1 20.1 20.3 0 11.3-9 20.4-20.1 20.4-11 0-20.1-9.2-20.1-20.4.1-11.3 9.1-20.3 20.1-20.3zM167.8 248.1h106.8c29.7 0 53.4-24.5 53.4-54.3V91.9c0-29-24.4-50.7-53.4-55.6-35.8-5.9-74.7-5.6-106.8.1-45.2 8-53.4 24.7-53.4 55.6v40.7h106.9v13.6h-147c-31.1 0-58.3 18.7-66.8 54.2-9.8 40.7-10.2 66.1 0 108.6 7.6 31.6 25.7 54.2 56.8 54.2H101v-48.8c0-35.3 30.5-66.4 66.8-66.4zm-6.7-142.6A20.2 20.2 0 01141 85.2c.1-11.3 9-20.4 20.1-20.4 11 0 20.1 9.2 20.1 20.4s-9 20.3-20.1 20.3z" />
                                </svg>
                            {% elif tab.type == "html" %}
                                <svg x-bind:class='{
                                "text-lime-500  -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" === activeTab,
                                "text-gray-400 group-hover:text-gray-500 -ml-0.5 mr-2 h-5 w-5": "{{tab.name}}" !== activeTab
                                }' xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor"
                                    viewBox="0 0 640 512">
                                    <path fill="currentColor"
                                        d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z" />
                                </svg>
                            {% endif %}
                            <span>{{tab.title}}</span>
                        </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="px-2 py-2 sm:p-3"
        x-bind:class="{'bg-gray-800 prose prose-lg max-w-none': codeTabs.includes(activeTab)}">
        {#
        <!-- Content goes here --> #}
        {% for tab in tabs %}
        <div x-show="'{{tab.name}}'===activeTab">{{tab.content|safe()}}</div>
        {% endfor %}
    </div>
</div>