{% set tabs = [
    {
        name:'demo', 
        title:'Editable Projects List', 
        type:'app',
        content: '
<iframe src="'+examples_url+'/projects_editable" class="w-full bg-white" style="height:26rem" frameborder="0"></iframe>
        '
     }, 
    {
        name:'c', 
        title:'pages/projects_editable.py', 
        type:'py',
        content: '
<pre><code class="language-python">from typing import Optional

from functools import cached_property
from jembe import Component, listener, action
from ..jmb import jmb
from ..db import db
from ..models import Project
from .projects_paginated import ProjectsPaginated


class ProjectEdit(Component):
    """Displays edit form and save changes to database"""

    def __init__(
        self, id: int, name: Optional[str] = None, description: Optional[str] = None
    ):
        self.error = None
        super().__init__()

    @cached_property
    def project(self):
        return db.session.query(Project).get(self.state.id)

    @action
    def save(self):
        """
            Saves changes to database.

            Actions can be called directly from html,
            similary to changing state variables
        """
        if self.state.name != "":
            self.project.name = self.state.name
            self.project.description = self.state.description
            db.session.commit()
            self.emit("save", project=self.project)
            # when an action returns False 
            # component will not be redisplayed even if 
            # state variables are changed
            return False
        self.error = "Name is required"

    @action
    def cancel(self):
        self.emit("cancel")
        return False

    def display(self):
        if self.state.name is None:
            # when displaed for the first time initialise name and description
            self.state.name = self.project.name
            self.state.description = self.project.description
        return super().display()


@jmb.page(
    "projects_editable", Component.Config(components={"edit": ProjectEdit}),
)
class ProjectsEditable(ProjectsPaginated):
    """
    Extends existing ProjectsPaginated component
    to add support for displaying "edit" subcomponent.
    
    @jmb.page decorators add "ProjectEdit"  as "edit" subcomponent.
    """

    def __init__(
        self, search: str = "", page: int = 0, display_mode: Optional[str] = None
    ):
        """display_mode: defines if project list or edit component are displayed"""
        super().__init__(search=search, page=page)
        if (
            display_mode is not None
            and display_mode not in self._config.components.keys()
        ):
            display_mode = None

    @listener(event="_display", source="./edit")
    def on_display_edit(self, event):
        """When "edit" subcomponent is displayed update display_mode"""
        self.state.display_mode = "edit"

    @listener(event=["cancel", "save"], source="./edit")
    def on_child_save_or_cancel(self, event):
        """When "edit" subcomponent emits "save" or "cancel" update display_mode"""
        self.state.display_mode = None

    def display(self):
        if self.state.display_mode is not None:
            # no need to query database and recalculate pagination
            # if only edit component is displayed
            return self.render_template()
        else:
            return super().display()</code></pre>'
    }, 
    {   
        name:'html', 
        title:'pages/projects_editable.html', 
        type:'html',
        content: '
<pre><code class="language-jinja2">&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Projects Editable&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    {% if display_mode is none %}
        {% include "projects_editable/_list.html" %} 
    {% else %}
        {{component(display_mode)}}
    {% endif %}

    &lt;script src="{{ url_for(\'jembe.static\', filename=\'js/jembe.js\') }}" defer&gt;&lt;/script&gt; 
&lt;/body&gt;
&lt;/html&gt;</code></pre>'
    },
    {
        name:'list', 
        title:'templates/projects_editable/_list.html', 
        type:'html',
        content: '<pre><code class="language-jinja2">&lt;h1&gt;Projects&lt;/h1&gt;
&lt;input jmb-on:input="page=0;search=$self.value;" value="{{search}}" type="text" placeholder="Search..."&gt;
&lt;ul&gt;
{% for project in projects  %}
    &lt;li&gt;{{project.name}}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
&lt;nav&gt;
    &lt;button jmb-on:click="page = page - 1" {% if page == 0 %} disabled {% endif %}&gt;
        Prev
    &lt;/button&gt;
    Page {{page + 1 if total_pages &gt; 0 else 0}} of {{total_pages}} ({{total_records}} projects)
    &lt;button jmb-on:click="page = page + 1" {% if page == total_pages - 1 or total_pages == 0 %}disabled{% endif %}&gt;
        Next
    &lt;/button&gt;
&lt;/nav&gt;</code></pre>'
    },
    {
        name:'edit', 
        title:'templates/projects_editable/edit.html', 
        type:'html',
        content: '<pre><code class="language-jinja2">&lt;h1&gt;Edit: {{project.name}}&lt;/h1&gt;
&lt;label&gt;
    Name
    &lt;!-- defer modifier dellays sending request to server and redisplaying component --&gt;
    &lt;input type="text" value="{{name}}" jmb-on:change.defer="name=$self.value"&gt;
    {% if error %}&lt;div style="color:red;"&gt;{{error}}&lt;/div&gt;{% endif %}
&lt;/label&gt;
&lt;label&gt;
    Description
    &lt;textarea jmb-model.defer="description"&gt;&lt;/textarea&gt;
&lt;/label&gt;
&lt;div&gt;
    &lt;button jmb-on:click="save()"&gt;Save&lt;/button&gt;
    &lt;button jmb-on:click="cancel()"&gt;Cancel&lt;/button&gt;
&lt;/div&gt;        
</code></pre>'
    }
] %}
{% include "./_code_example.html" %}